<header id="masthead">
  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title"><img src="{{ site.url }}/media/compressed/newlogo.jpg" /><a>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
<div class="page-lead">
  <div class="wrap page-lead-content">
    <h1>Escolha uma leitura :)</h1>
    <h2>Blog dedicado a desenvolvimento web e criatividade</h2>
  </div><!-- /.page-lead-content -->
</div>
